<h1>Playlists</h1>

<div class="lists-container overflow-auto" style="max-height: 200px;">
  <% @lists.each do |list| %>
    <div class="card shadow my-2" style="border-radius: 10px;">
      <div class="card-body py-1" style="background-color: #4682A9; border-radius: 10px;">
        <h6 class="my-2"><%= link_to list.name, list_path(list), class: "text-decoration-none" %></h6>
      </div>
    </div>
  <% end %>
</div>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.submit class: "btn btn-light mt-1" %>
<% end %>
