// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}
.btn {
  color: #749BC2;
  font-weight: bolder;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s, color 0.5s;
  border-radius: 30px;
}
.btn:hover {
  background-color: #d8944b;
  color: #000000;
  border-color: #d8944b;
}
a {
  border: 5px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
}
a:hover {
  background-color: #F6F4EB;
  color: #4682A9;
}
